<div class="container">
    <div class="row-fluid">
        <form class="form-horizontal">
            <fieldset>
                <div id="legend">
                    <legend class="">Payment</legend>
                </div>
<!-- TODO: change to bank info page; refer to registration.html to send to server, and response -->

                <!-- Name -->
                <div class="control-group">
                    <label class="control-label"  for="username">Name</label>
                    <div class="controls">
                        <input type="text" id="accountName" name="accountName" data-ng-model="accountName" placeholder="" class="input-xlarge">
                    </div>
                </div>

                <!-- Routing Number -->
                <div class="control-group">
                    <label class="control-label" for="routingNumber">Routing Number</label>
                    <div class="controls">
                        <input type="text" id="routingNumber" name="routingNumber" data-ng-model="routingNumber" placeholder="" class="input-xlarge">
                    </div>
                </div>
				
				<!-- Account Number -->
                <div class="control-group">
                    <label class="control-label" for="accountNumber">Account Number</label>
                    <div class="controls">
                        <input type="text" id="accountNumber" name="accountNumber" data-ng-model="accountNumber" placeholder="" class="input-xlarge">
                    </div>
                </div>

                <!-- Submit -->
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" data-ng-click="registerBankAccount()">Submit</button>
                    </div>
                </div>
                <span data-ng-show="showError" style="color: indianred">{{errorMsg}}</span>
                            
            </fieldset>
        </form>
    </div>
</div>